body {
    font-family: Arial, sans-serif;
    background-color: #141214;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #a07ea3;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Timer-display {
    font-size: 2em;
    text-align: center;
    padding: 10px 0;
}

.Buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #080a08;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #da1c1c;
}
